Repository alexfertel/bulloak: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --ignore-path .prettierignore, sh -c 'cargo +nightly fmt', solhint --fix --noPrompt, forge fmt

.lintstagedrc.yml:

"*.{json,md,tsx,yml}": "prettier --write --ignore-path .prettierignore"
"*.rs": "sh -c 'cargo +nightly fmt'"
"*.sol":
  - "solhint --fix --noPrompt"
  - "forge fmt"

feat: capitalize comments in scaffold output
  crates/bulloak/tests/check.rs
  crates/bulloak/tests/check/invalid_sol_structure.t.sol
  crates/bulloak/tests/scaffold/complex.t.sol
  crates/bulloak/tests/scaffold/complex_vm_skip.t.sol
  crates/bulloak/tests/scaffold/multiple_roots.t.sol
  crates/bulloak/tests/scaffold/multiple_roots_vm_skip.t.sol
  crates/foundry/src/lib.rs
  crates/foundry/src/scaffold/emitter.rs
  crates/foundry/src/sol/fmt.rs
  crates/foundry/src/utils.rs
  package.json
Due: prettier --write --ignore-path .prettierignore, sh -c 'cargo +nightly fmt', solhint --fix --noPrompt, forge fmt

feat: setup code formatters (#106)
  .editorconfig
  .github/workflows/ci.yml
  .github/workflows/release.yml
  .husky/pre-commit
  .lintstagedrc.yml
  .prettierignore
  .prettierrc
  CHANGELOG.md
  CONTRIBUTING.md
  LICENSE-MIT
  README.md
  crates/bulloak/README.md
  crates/foundry/README.md
  crates/foundry/src/sol/fmt.rs
  crates/syntax/README.md
  docs/README.md
  docs/src/components/TreesAnimation.tsx
  docs/tailwind.config.ts
  package-lock.json
  package.json
  tea.yaml
Due: prettier --write --ignore-path .prettierignore, sh -c 'cargo +nightly fmt'

fix: add underscore between function name and test name for multiple roots
  crates/bulloak/tests/scaffold/hash_pair.t.sol
  crates/bulloak/tests/scaffold/multiple_roots.t.sol
  crates/bulloak/tests/scaffold/multiple_roots.tree
  crates/bulloak/tests/scaffold/multiple_roots_vm_skip.t.sol
  crates/foundry/src/check/rules/structural_match.rs
  crates/foundry/src/hir/combiner.rs
Due: sh -c 'cargo +nightly fmt', solhint --fix --noPrompt, forge fmt

fix: add underscore between function name and test name for multiple roots (#107)
  crates/bulloak/tests/scaffold/hash_pair.t.sol
  crates/bulloak/tests/scaffold/multiple_roots.t.sol
  crates/bulloak/tests/scaffold/multiple_roots.tree
  crates/bulloak/tests/scaffold/multiple_roots_vm_skip.t.sol
  crates/foundry/src/check/rules/structural_match.rs
  crates/foundry/src/hir/combiner.rs
Due: sh -c 'cargo +nightly fmt', solhint --fix --noPrompt, forge fmt

fix: update README files with the latest
  crates/bulloak/README.md
  crates/foundry/README.md
Due: prettier --write --ignore-path .prettierignore

fix: avoid emitting duplicate modifiers intra-tree
  README.md
  crates/bulloak/README.md
  crates/foundry/src/hir/translator.rs
Due: prettier --write --ignore-path .prettierignore, sh -c 'cargo +nightly fmt'

fix: stop deduplicating functions in the combiner
  crates/foundry/src/hir/combiner.rs
Due: sh -c 'cargo +nightly fmt'

chore(v0.9.0): update Cargo.toml & CHANGELOG
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  README.md
Due: prettier --write --ignore-path .prettierignore

ref(fmt): fix formatting
  crates/foundry/src/hir/translator.rs
Due: sh -c 'cargo +nightly fmt'

feat: add flag to capitalize and punctuate descriptions
  README.md
  crates/bulloak/README.md
  crates/bulloak/src/check.rs
  crates/bulloak/src/cli.rs
  crates/bulloak/src/scaffold.rs
  crates/bulloak/tests/scaffold.rs
  crates/bulloak/tests/scaffold/format_descriptions.t.sol
  crates/bulloak/tests/scaffold/format_descriptions.tree
  crates/bulloak/tests/scaffold/format_descriptions_formatted.t.sol
  crates/foundry/src/check/context.rs
  crates/foundry/src/config.rs
  crates/foundry/src/scaffold/comment.rs
  crates/foundry/src/scaffold/emitter.rs
  crates/foundry/src/scaffold/mod.rs
  crates/foundry/src/sol/translator.rs
Due: prettier --write --ignore-path .prettierignore, sh -c 'cargo +nightly fmt', solhint --fix --noPrompt, forge fmt

feat: add flag to capitalize and punctuate descriptions (#110)
  README.md
  crates/bulloak/README.md
  crates/bulloak/src/check.rs
  crates/bulloak/src/cli.rs
  crates/bulloak/src/scaffold.rs
  crates/bulloak/tests/scaffold.rs
  crates/bulloak/tests/scaffold/format_descriptions.t.sol
  crates/bulloak/tests/scaffold/format_descriptions.tree
  crates/bulloak/tests/scaffold/format_descriptions_formatted.t.sol
  crates/foundry/src/check/context.rs
  crates/foundry/src/config.rs
  crates/foundry/src/scaffold/comment.rs
  crates/foundry/src/scaffold/emitter.rs
  crates/foundry/src/scaffold/mod.rs
  crates/foundry/src/sol/translator.rs
Due: prettier --write --ignore-path .prettierignore, sh -c 'cargo +nightly fmt', solhint --fix --noPrompt, forge fmt

chore(v0.9.1): update Cargo.toml & CHANGELOG
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  README.md
Due: prettier --write --ignore-path .prettierignore

feat: minimal plumbing for new backend
  Cargo.lock
  Cargo.toml
  crates/bulloak/src/cli.rs
  crates/bulloak/src/scaffold.rs
  crates/noir/Cargo.toml
  crates/noir/src/config.rs
  crates/noir/src/lib.rs
Due: sh -c 'cargo +nightly fmt'

docs: barebone docs for new backend
  crates/noir/src/config.rs
  crates/noir/src/lib.rs
Due: sh -c 'cargo +nightly fmt'

test: single, trivial integration test for the new backend
  crates/bulloak/tests/scaffold_noir.rs
  crates/noir/src/lib.rs
Due: sh -c 'cargo +nightly fmt'

refactor: attempt to make all backends comply with the same assertions
  crates/bulloak/tests/scaffold.rs
  crates/bulloak/tests/scaffold_noir.rs
Due: sh -c 'cargo +nightly fmt'

test: failing integration test for base case
  crates/bulloak/tests/scaffold.rs
  crates/bulloak/tests/scaffold/basic.t.nr
Due: sh -c 'cargo +nightly fmt'

test: helper function generation
  crates/noir/src/scaffold/generator.rs
Due: sh -c 'cargo +nightly fmt'

feat: reorganized module and wrote unit tests for naive scaffold
  crates/bulloak/src/cli.rs
  crates/bulloak/tests/scaffold/basic.t.nr
  crates/noir/src/scaffold/generator.rs
  crates/noir/src/scaffold/mod.rs
  crates/noir/src/utils.rs
Due: sh -c 'cargo +nightly fmt'

feat: do not generate modifier for silbing-less actions
  crates/noir/src/scaffold/generator.rs
Due: sh -c 'cargo +nightly fmt'

chore: reorganize module and include simons implementation
  crates/noir/src/constants.rs
  crates/noir/src/lib.rs
  crates/noir/src/scaffold/generator.rs
  crates/noir/src/scaffold/mod.rs
  crates/noir/src/utils.rs
Due: sh -c 'cargo +nightly fmt'

test: failing tests for unexpected generation of revert cases
  crates/noir/src/scaffold/generator.rs
Due: sh -c 'cargo +nightly fmt'

feat: do not generate revert cases on spurious revert/panic
  crates/noir/src/constants.rs
Due: sh -c 'cargo +nightly fmt'

test: expect testfiles to be named _test.nr instead of .t.nr
  crates/bulloak/tests/scaffold.rs
  crates/bulloak/tests/scaffold/basic_test.nr
  crates/bulloak/tests/scaffold/removes_invalid_title_chars_test.nr
Due: sh -c 'cargo +nightly fmt'

feat: generated files should end with _test.nr instead of .t.nr
  crates/bulloak/src/scaffold.rs
  crates/bulloak/tests/scaffold.rs
Due: sh -c 'cargo +nightly fmt'

fix: update error message for already-existing testfile
  crates/bulloak/src/scaffold.rs
Due: sh -c 'cargo +nightly fmt'

fix: feedback by simon
  crates/bulloak/src/cli.rs
  crates/bulloak/src/scaffold.rs
Due: sh -c 'cargo +nightly fmt'

test: add missing expected output
  crates/bulloak/tests/scaffold/revert_when_test.nr
Due: none

feat: rename helper function -> setup hook
  crates/bulloak/src/cli.rs
  crates/bulloak/tests/scaffold/basic_test.nr
  crates/bulloak/tests/scaffold/revert_when_test.nr
  crates/noir/src/config.rs
  crates/noir/src/scaffold/generator.rs
Due: sh -c 'cargo +nightly fmt'

refactor: use dynamic dispatch to choose backend implementation
  Cargo.lock
  Cargo.toml
  crates/backend/Cargo.toml
  crates/backend/src/lib.rs
  crates/bulloak/Cargo.toml
  crates/bulloak/src/cli.rs
  crates/bulloak/src/scaffold.rs
  crates/foundry/Cargo.toml
  crates/foundry/src/backend.rs
  crates/foundry/src/lib.rs
  crates/noir/src/backend.rs
  crates/noir/src/lib.rs
  crates/noir/src/scaffold/generator.rs
  crates/noir/src/utils.rs
Due: sh -c 'cargo +nightly fmt'

refactor: centralize all concrete backend impls as suggested by simon
  Cargo.lock
  Cargo.toml
  crates/bulloak/Cargo.toml
  crates/bulloak/src/backend.rs
  crates/bulloak/src/cli.rs
  crates/bulloak/src/main.rs
  crates/bulloak/src/scaffold.rs
  crates/foundry/Cargo.toml
  crates/foundry/src/lib.rs
  crates/noir/Cargo.toml
  crates/noir/src/lib.rs
Due: sh -c 'cargo +nightly fmt'

refactor: move BackendKind into backend module
  crates/bulloak/src/backend.rs
  crates/bulloak/src/cli.rs
  crates/bulloak/src/scaffold.rs
Due: sh -c 'cargo +nightly fmt'

refactor: consistent types for scaffold functions
  crates/bulloak/src/backend.rs
  crates/noir/src/scaffold/mod.rs
Due: sh -c 'cargo +nightly fmt'

test: improve test_filename for noir and test it
  Cargo.lock
  crates/bulloak/Cargo.toml
  crates/bulloak/src/backend.rs
Due: sh -c 'cargo +nightly fmt'

test: run both backends against the same testcases
  crates/bulloak/src/backend.rs
Due: sh -c 'cargo +nightly fmt'

feat: disallow extension-only treefiles
  crates/bulloak/src/backend.rs
Due: sh -c 'cargo +nightly fmt'

refactor: reduce test code duplication
  crates/bulloak/src/backend.rs
Due: sh -c 'cargo +nightly fmt'

refactor: reduce code duplication of error handling
  Cargo.lock
  crates/bulloak/Cargo.toml
  crates/bulloak/src/backend.rs
Due: sh -c 'cargo +nightly fmt'

chore: delete unused files
  crates/foundry/src/backend.rs
  crates/noir/src/backend.rs
Due: sh -c 'cargo +nightly fmt'
